.a {
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    padding: 0 10px;
}

.a:hover {
    background-color: black;
    color: white;
}

a {
    padding: 0;
}

#about {
    background-image: url('./images/white-bg.jpeg');
    background-size: cover;
    background-attachment: fixed;
}

#about p {
    background-color: white;
    width: 60vw;
    font-size: 10px;
    /* font-size: 1.3vw; */
    font-family: "Raleway", sans-serif;
    padding: 20px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 70px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.4);

}

.about-square {
    width: 20vw;
    height: 20vw;
    min-width: 200px;
    min-height: 200px;
    background-color: white;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 40px 5px rgba(0,0,0,0.2);

}

.about-square p {
    width: 100%;
}

.as-img {
    height: 6vw;
    margin-bottom: 2vw;
}

.as-img-surd {
    height: 6vw;
    margin-bottom: 2vw;
}

.about-squares {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

.as-text {
    text-align: center;
    width: 80%;
    /* font-size: 18px; */
    font-size: 1.3vw;
    line-height: 1.9vw;
}



body {
    margin: 0;
    font-family: "Raleway", sans-serif;
}

.body-fill {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 8;
}

button {
    font-family: "Raleway", sans-serif;
    background-color: white;
    font-size: 16px;
    padding: 5px 7px 3px 7px;
    margin: 5px;
}

button:enabled:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.card-img {
    width: 650px;
    height: 650px;
    margin-top: 20px;
    margin-bottom: -7vw;
}

.copy {
    background-color: black;
    color: white;
    padding: 5px 8px 5px 8px;
    display: inline-block;
    text-transform: uppercase;
}

.details-card {
    width: 90vw;
    max-width: 850px;
    height: 80vh;
    position: fixed;
    top: 10vh;
    background-color: white;
    padding-bottom: 40px;
    /* margin-top: 75px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.4);
    overflow: auto;
    /* direction: rtl; */
}

.details-card::-webkit-scrollbar {
    display: none;
  }

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 100px;
    background-image: url('./images/white-bg.jpeg');
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 80vw;
    margin-bottom: 50px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-align: right;
    margin: 5px 15px;
    display: inline-block;
    color: black;
}

h3 {
    font-weight: 200;
    margin: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    width: 100vw;
    background-color: white;
    min-height: 50px;
    height: 5vh;
    z-index: 10;
}

.header-fill {
    height: 50px;
    width: 100vw;
}

.hiim {
    background-color: black;
    color: white;
    display: inline-block;
    padding: 1vw;
    font-size: 6vw;
    font-weight: 200;
    font-family: "Raleway", sans-serif;
    margin: 0 1vw;
}

.hidden {
    display: none;
}

html {
    scroll-behavior: smooth;
}

.iama {
    color: black;
    margin: 1vw 1vw 0 0;
}

.iama-div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

input, textarea {
    width: 100%;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    margin: 5px;
    background-color: #FEFEFE;
}

.intro {
    background-image: url("./images/white-bg.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 98vh;
    min-height: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro p {
    font-size: 3vw;
    /* margin: 2vw 1vw 2vw 0; */
    font-family: "Raleway", sans-serif;
    font-weight: 200;
}

.intro-text {
    text-align: left;
}


p.card {
    font-size: 20px;
    width: 75%;
    line-height: 26px;
    text-align: center;
}

.photo {
    height: 30vw;
    border-radius: 50%;
    margin: 40px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.4);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5vh 10vw;
}

.project {
    width: 20vw;
    height: 20vw;
    min-height: 250px;
    min-width: 250px;
    background-color: white;
    margin: 20px;
    box-shadow: 0px 0px 40px 5px rgba(0,0,0,0.2);
    margin: 10px 20px 60px 20px;
    transition: box-shadow .2s;
    
}

.project:hover {
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
    cursor: pointer;
}

.project-bg {
    height: 100%;
    width: 100%;
    opacity: .3;
    position: relative;
    z-index: 1;
    background-image: url("./images/project-bg.jpeg");
}

.project-img {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
    filter: grayscale(100%)
}

.project-img:hover {
    filter: grayscale(0%)
}

.resume {
    background-color: white;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start {
    opacity: 0%;
}



.tags {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tag {
    font-size: 16px;
    background-color: black;
    color: white;
    padding: 4px 8px;
    margin: 5px;
    text-transform: uppercase;
}

textarea {
    margin-bottom: 20px;
}

.title {
    display: inline-block;
    text-align: center;
    margin: 50px auto 0 auto;
    background-color: black;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    /* font-size: 28px; */
    font-size: 3vw;
    padding: 10px;
}

.whatiam {
    background-color: black;
    color: white;
    padding: .6vw;
    margin: 1vw 0 0 0;

}

.x {
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: #E5E5E5;
    color: #404040;
    font-size: 30px;
    width: 35px;
    height: 35px;
    font-weight: 100;
    text-align: center;
    cursor: pointer;
}

.x:hover {
    background-color: #404040;
    color: #E5E5E5;
}


@media (max-width: 1200px) {
    #about p {
        font-size: 16px;
    }
}

@media (max-width: 1000px) {
    .details-card {
        width: 80vw;
    }
    .card-img {
        width: 65vw;
        height: 65vw;
    }

    .as-text {
        
    }
}

@media (max-width: 725px) {
    .project {
        width: 60vw;
        height: 60vw;
    }
}

@media (max-width: 500px) {
    nav {
        display: none;
    }

    .intro {
        flex-direction: column;
        margin-top: -30px;
        background-size: 100% 100%;
    }

    #about, footer {
        background-size: 100% 100%;
    }

    .intro-text {
        width: 80%;
    }

    .intro p {
        font-size: 6vw;
        /* margin: 2vw 1vw 2vw 0; */
        font-family: "Raleway", sans-serif;
        font-weight: 200;
    }

    .hiim {
        font-size: 10vw;
        margin: 0 auto;
    }

    .iama-div {
        width: 100%;
    }

    .photo {
        width: 65vw;
        height: 65vw;
        margin-top: 0;
    }

    .tag {
        font-size: 10px;
    }

    .tags {
        width: 80%;
    }

    p.card {
        font-size: 16px;
        width: 75%;
        line-height: 22px;
        text-align: center;
    }

    .as-text {
        text-align: center;
        width: 80%;
        font-size: 14px;
        /* font-size: 1.3vw; */
        line-height: 14px;
    }

    .about-square {
        justify-content: center;
    }

    .about-square img {
        height: 12vw;
        margin-bottom: 5vw;
    }

    .title {
        font-size: 5vw;
    }

    #contact h3 {
        margin-top: 20px;
    }
}